/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);

  
}




/*=============================================
=                  Header                     =
=============================================*/
/* TODO: 加入背景圖片 */
#header {
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 200px 0px;
    // url()這個函數裡面放圖片的網址和相對位址 
    background-image:url("../images/國毅\ body.png");
    // 不能用width:100%而是要用cover才行 
    background-size: cover ;
    // 以下兩個是用來調整背景圖片的上下左右的 
    background-attachment: fixed;
    background-position: center;
}

// 在這裡改顏色需要改很多，因為有很多細節 
//.btn-primary{
//    background-color: red;
//}

/*=============================================
=                Section 1                    =
=============================================*/
.intro-box,
.intro-line,
.intro-box .icon {
    transition: all .3s ease;
}

.intro-box {
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px 15px;
    text-align: center;
    position: relative;
    bottom: 0px;
    .icon {
        transform: scale(.8);
    }
    .intro-line {
        width: 20px;
        height: 6px;
        border-radius: 3px;
        margin: 10px auto;
    }
    &:hover {
        background: white;
        box-shadow: 0px 22px 22px rgba(0,0,0,.25);
        bottom: 7px;
        .icon {
            transform: scale(1);
        }
        .intro-line {
            width: 40px;
        }
    }
}

/*=============================================
=                  Section 3                  =
=============================================*/

.gallery-block,
.gallery-text {
    transition: all .5s ease-out;
}

.gallery-block {
    position: relative;
    bottom: 0px;
    transition-duration: .5s;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    width: 300px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 0px rgba(255, 99, 71, 0);
        transition: all .3s ease;
}

.gallery-text {
    color: white;
    font-weight: 700;
    text-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    text-align: center;
}

.gallery-block:hover {
    bottom: 10px;
    filter: grayscale(0%);
    box-shadow: 0 25px 20px rgba(0, 0, 0, .2), 0 0 0 3px rgb(71, 203, 255);
        
    .gallery-text {
        color: #c4dff6;
    }
}

// Place Background Images
/*=============================================
=                     section5                    =
=============================================*/
#galleryImage9 {
    background-image: url('../images/小檸檬.gif');
}
/*=============================================
=                     section4                    =
=============================================*/

.container {
    width: 1000px;
    // margin: top&bottom left&right;
    margin: 50px auto;
}

.row {
    display: flex;
    // Don't resize child element
    flex-wrap: wrap;
}

.col {
    // width: 33.333%;
    width: calc(100%/3);
    // padding: top&bottom left&right;
    padding: 0px 10px;
}

.col-card {
    margin-bottom: 20px;
    // box-shadow: x y blur color;
    box-shadow: 0px 3px 3px rgba(24, 22, 23, 0.5);
    border-radius: 20px;
    overflow: hidden;
    transition-duration: .3s;
    position: relative;
    bottom: 0px;

    &:hover {
        box-shadow: 0px 10px 30px rgba(24, 22, 23, 0.5);
        bottom: 10px;

        img {
            filter: grayscale(0%);
        }
    }

    // When hover col-card effect to img
    &:hover img {
        filter: grayscale(0%);
    }

    img {
        width: 100%;
        display: block;
        filter: grayscale(100%);
    }
}

.col-card-body {
    padding: 15px 15px;

    h3 {
        margin-top: 0px;
    }

    p {
        margin-bottom: 0px;
    }
}

// media query
// common for mobile 576px
@media (max-width: 576px) {

    // Only effect window width <= 700px
    .container {
        width: 100%;
    }

    .col {
        // background: rgb(8, 97, 214);
        width: 100%;
    }

    h3 {
        color: rgba(233, 236, 20, 0.993);
    }

}

// width 577 ~ 991px for tablet
@media (min-width: 577px) and (max-width: 991px) {
    .container {
        width: 570px;
    }

    .col {
        width: 50%;
    }
}
/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p,a {
    font-size: 8px;
    margin: 0;
    text-align: center;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}

/*=============================================
=                   AD-BOX                    =
=============================================*/

.ad-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
    &.active {
        right: 0px;
    }
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: #666;
}

.right-part {
    padding: 10px;
}

.right-part>p{
    margin-bottom: 0;
}